<div class="container">
  <div class="filters">
    <button class="button" routerLink = "/catalog"[queryParams]="{filter: 'Heads'}">Heads</button>
    <button class="button" routerLink = "/catalog" [queryParams]="{filter: 'Arms'}">Arms</button>
    <button class="button" routerLink = "/catalog" [queryParams]="{filter: 'Torsos'}">Torsos</button>
    <button class="button" routerLink = "/catalog" [queryParams]="{filter: 'Bases'}">Bases</button>
    <button class="button" routerLink = "/catalog">All</button>
  </div>
  
  
    <ul class="products">
      <li class="product-item" *ngFor="let product of getFilteredProducts()">
        <app-product-details [product] = "product" (buy)="addToCart(product)"></app-product-details>
      </li>
    </ul>
  </div>